/***********************************************
*
* Author: Marcin Bejger
* Date: 14.11.2021
*
***********************************************/

.static-width{
    width: 500px;
    height: 500px;
    background: url(https://www.racepix.pl/product_category_imgs/product_category_img-37.jpg?t=1637432436)
    no-repeat top center;
    background-color: khaki;
    background-size: 200px;
}




/*
___________________________________
CSS LESSON 17:
#all-articles h2 + p{
    color:green;
}
_____________________________________
CSS LESSON 18:
span[class~="deck"]{
    color: purple;
}

div[id]{
    background: grey;
}

a[href$="pdf"]{
    color:red;
}

a[href^="http"]{
    color:pink ;
}
______________________________________
CSS LESSON 19:
a:hover{
    color: pink;
}

#main-content:hover{
    background: red;
}

______________________________________
CSS LESSON 20:
a:hover{
    color: red;
}

a:active{
    color: orange;
}

a.visited{
    color: purple;
}
_____________________________________
CSS LESSON 21:
article p:first-child{
    font-weight: bold;
}

article p:last-child{
    color:red;
}
_____________________________________
CSS LESSON 22: 
article p:first-of-type{
    font-weight: bold;
}

article p:last-of-type{
    color:red;
}
______________________________________
CSS LESSON 23: 
li:nth-child(1), li:nth-child(7){
    font-weight: bold;
}

li:nth-child(even){
    background: grey;
}

li:nth-child(odd){
    background: pink;
}

li:nth-child(3n + 1){
    color:red;
}
_________________________________________
CSS LESSON 24:
article:nth-child(2){
    background: grey;
}
article:nth-of-type(2){
    background: pink
}

article:nth-of-type(odd){
    background: red;
}
article:nth-of-type(2n+2){
    background:blue;
}
__________________________________________
CSS LESSON 25: 
article.featured-content{
    background: red;
}

div.featured-content{
    background: blue;
}
___________________________________________
CSS LESSON 26: 
*{
    margin: 0;
    padding: 0;
    color: red;
}
____________________________________________
CSS LESSON 27: 

h1{
    font-size: 48px;
}

h2{
    font-size: 32px;
}

p{
    font-size: 16px;
}

article{
    font-size: 16px;
}

article h2{
    font-size: 4em;
}

p{
    font-size: 200%;
}
___________________________________________
CSS LESSON 28: 
article h2, article p{
    font-family: Arial, Helvetica, sans-serif;
}
____________________________________________
CSS LESSON 29: 
article{
    text-decoration: overline;
}

a{
    text-decoration: inherit;
}

a{
    text-decoration: line-through;
}

a{
    text-decoration: underline;
}
________________________________________________
CSS LESSON 30: 
h1{
    font-weight: bold;
}

p{
    font-weight: 500;
    font-family: sans-serif;
}
________________________________________________
CSS LESSON 31: 
#header p{
    text-transform: capitalize;
}

body > p{
    text-transform: uppercase;
}
________________________________________________
CSS LESSON 32: 
#header h1{
    color:goldenrod;  
}

#header h2{
    color: #232cb1;
}

#header{
    background:lightskyblue
}
_______________________________________________
CSS LESSON 33: 
a{
    color: crimson;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color:darkmagenta;
    text-decoration:underline;
    background-color: aquamarine;
}
________________________________________________
CSS LESSON 34: 
p{
    font-size: 16px;
    letter-spacing: 0.2em;
    word-spacing: 4px;
    line-height: 1.5em;
}
_______________________________________________
CSS LESSON 35: 
p{
    font-size: 14px;
    line-height: 2em;
    margin-bottom: 32px;
}
_________________________________________________
CSS LESSON 36: 
.box{
    margin: 30px;
    padding: 30px;
    border: 10px solid #000;
    width: 200px;
    height: 200px;
    text-align:center;
}
_________________________________________________
CSS LESSON 37: 
.box{
    margin: 30px auto;
    padding: 30px 20px 10px 15px;
    border: 10px solid #000;
    width: 50%;
    height: 200px;
    text-align: center;
}
_________________________________________________
CSS LESSON 38: 
.box{
    margin: 30px;
    padding: 30px 20%;
    border: 10px solid #000;
    width: 50%;
    text-align: center;
}
_______________________________________________
CSS LESSON 39: 
.box{
    padding: 20px;
    border: 10px solid #000;
}

.small{
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 40px;
    padding-bottom: 50px;
}
_______________________________________________
CSS LESSON 40: 
.box{
    padding: 20px;
    margin: 20px;
    float: left;
    border: black solid 10px;
}

.dashed{
    border: 10px blue dashed;
}

.dotted{
    border: 10px blue dotted;
}

.double{
    border: 10px blue double;
}

.groove{
    border: 10px blue groove;
}

.inset{
    border: 10px blue inset;
}

.outset{
    border: 10px blue outset;
}

.ridge{
    border: 10px blue ridge;
}

.solid{
    border: 10px blue solid;
}
____________________________________________
CSS LESSON 41: 
.block{
    padding: 10px;
    margin: 10px;
    border: 1px solid #000;
}

.inline{
    padding: 10px;
    margin: 10px;
    border: 1px solid #000;
    display: inline-block;
}

a{
    padding: 50px;
    margin: 10px;
    background-color:#ccc;
    border: 1px solid #aaa;
    color: #000;
    text-decoration: none;
    display: inline-block;
}
___________________________________________
CSS LESSON 42: 
#main-content div{
    background-color: #ccc;
    margin: 0 0 20px 0;
}

.static-width{
    width: 300px;
    height: 100px;
}

.percentage-width{
    width: 70%;
    height: 50px;
}

.inline-block{
    width: 40%;
    display: inline-block;
}
____________________________________________
CSS LESSON 43: 
#main-content div{
    background-color: #ccc;
    margin: 0 0 20px 0;
}

.static-width{
    padding:10px;
    width: 300px;
    height: 100px;
    border-radius: 30px;
}

.percentage-width{
    width: 70%;
    height: 50px;
    border-radius: 10px 20px;
}

.inline-block{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
_______________________________________________
CSS LESSON 44: 
.static-width{
    width: 500px;
    height: 500px;
    background-color: hotpink;
    background-image: url(https://www.racepix.pl/product_category_imgs/product_category_img-37.jpg?t=1637432436);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}
_________________________________________________
CSS LESSON 45: 
.static-width{
    width: 500px;
    height: 500px;
    background: url(https://www.racepix.pl/product_category_imgs/product_category_img-37.jpg?t=1637432436)
    no-repeat top center;
    background-color: khaki;
    background-size: 200px;
}
___________________________________________________
CSS LESSON 46: 



*/